**MÔ TẢ VẤN ĐỀ**

- Khởi đầu tất cả với 2 tệp là có khả năng rời bỏ / có khả năng Active trở lại
- Giờ đây bài toán mới yêu cầu chúng ta cần phải có nhiều trường hơn, và nhiều cụm hơn để phù hợp với nghiệp vụ hơn
- Các trường dữ liệu sử dụng:
    + AGE	Tuổi
    + NAV_BQ_12M: NAV bình quân 12 tháng (01/01/2024 - 31/12/2024)
    + TODAY_NAV: Nav hiện tại của họ (Thời điểm cụ thể lấy 31-12-2024)
    + NAV_LAST_TRADING: Nav tại ngày cuối cùng họ giao dịch 
    + CASH_IN: Tổng số tiền nạp vào từ thời điểm họ giao dịch lần cuối tới hiện tại 
    + CASH_OUT: Tổng số tiền rút ra từ thời điểm họ giao dịch lần cuối tới hiện tại 
    + VQGD_6M: Vòng quay giao dịch 6 tháng gần nhất trước thời điểm họ giao dịch lần cuối
    + TRADING_COUNT_6M: Số ngày giao dịch trong 6 tháng trước thời điểm họ giao dịch lần cuối
    + GTGD_6M: Giá trị giao dịch 6 tháng gần nhất trước thời điểm họ giao dịch lần cuối
    + PROFIT_LOSS_6M: Lãi lỗ thực hiện 6 tháng trước thời điểm họ giao dịch lần cuối
    + PROFIT_LOSS_PERCENTAGE_6M: Phần trăm lãi lỗ thực hiện 6 tháng trước thời điểm họ giao dịch lần cuối
    + TRADING_COUNT_1M: Số ngày giao dịch trong 1 tháng trước thời điểm họ giao dịch lần cuối
    + TRADING_COUNT_2M: Số ngày giao dịch trong 2 tháng trước thời điểm họ giao dịch lần cuối
    + TRADING_COUNT_3M: Số ngày giao dịch trong 3 tháng trước thời điểm họ giao dịch lần cuối
    + CHANNEL: Kênh mở
    + LOGIN_COUNT_12M: Số lần login 12 tháng năm nay (01/01/2024 - 31/12/2024)
    + LOGIN_COUNT_6M: Số lần Login trong 6 tháng gần đây (30/06/2024 - 31/12/2024)
    + LOGIN_COUNT_3M: Số lần Login trong 3 tháng gần đây (30/09/2024 - 31/12/2024)
    + ACTIVE_AGE: Khoảng thời gian Active từ lúc họ giao dịch lần đầu đến lúc thời điểm giao dịch lần cuối
- Mong rằng mình sẽ tìm dc insight gì đó :) từ đống trường này :) hihi

**CÀI THƯ VIỆN**

In [3]:
from common.ultis import preprocessing
import pandas as pd

---

**BẮT ĐẦU ĐỌC DỮ LIỆU**

In [4]:
df = pd.read_csv("data/data_inactive.csv")
df.head()

,#_x,MASTER_ACCOUNT,CHANNEL,AGE,NAV_BQ_12M,TODAY_NAV,CASH_IN,CASH_OUT,TRADING_COUNT_1M,TRADING_COUNT_2M,...,TRADING_COUNT_6M,GTGD_6M,VQGD_6M,PROFIT_LOSS_6M,PROFIT_LOSS_PERCENTAGE_6M,ACTIVE_AGE,#_y,LOGIN_COUNT_3M,LOGIN_COUNT_6M,LOGIN_COUNT_12M
0,1,206019,MBS,42.0,10949.677596,10956,NaN,1.614250e+09,3,9,...,22,8444209900,0.722229,212985226.0,2.478086,356,38895,NaN,NaN,NaN
1,2,104921,MBS,40.0,230.000000,230,NaN,2.289840e+07,1,2,...,6,43860000,0.322204,-10268987.0,-40.374729,498,18483,NaN,NaN,NaN
2,3,122404,MBS,40.0,26652.355191,26665,NaN,8.700000e+06,1,1,...,6,54799000,0.877380,-11407102.0,-20.094925,665,22802,6.0,12.0,32.0
3,4,382404,MBS,41.0,1872.000000,1872,NaN,1.625000e+07,1,2,...,2,32320000,1.260376,277704.0,1.918465,673,74398,NaN,NaN,NaN
4,5,469862,MBS,57.0,199712.278689,213051,NaN,5.197990e+07,2,2,...,13,423919000,1.413892,-6187068.0,-1.187263,815,84961,NaN,NaN,NaN

In [5]:
#drop trường "#_x"
df.drop(columns=["#_x"], inplace=True)

#drop trường "#_y"
df.drop(columns=["#_y"], inplace=True)

**TÌM HIỂU KIỂU DỮ LIỆU CÁC BIẾN**

In [6]:
df.info() # tìm hiểu kiểu dữ liệu của các biến

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118846 entries, 0 to 118845
Data columns (total 19 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   MASTER_ACCOUNT             118846 non-null  object
 1   CHANNEL                    118846 non-null  object
 2   AGE                        118391 non-null  float64
 3   NAV_BQ_12M                 118846 non-null  float64
 4   TODAY_NAV                  118846 non-null  int64
 5   CASH_IN                    14101 non-null   float64
 6   CASH_OUT                   102198 non-null  float64
 7   TRADING_COUNT_1M           118846 non-null  int64
 8   TRADING_COUNT_2M           118846 non-null  int64
 9   TRADING_COUNT_3M           118846 non-null  int64
 10  TRADING_COUNT_6M           118846 non-null  int64
 11  GTGD_6M                    118846 non-null  int64
 12  VQGD_6M                    102797 non-null  float64
 13  PROFIT_LOSS_6M             100452 non-null  float64
 14  PROFIT_LOSS_PERCENTAGE_6M  100241 non-null  float64
 15  ACTIVE_AGE                 118846 non-null  int64
 16  LOGIN_COUNT_3M             35704 non-null   float64
 17  LOGIN_COUNT_6M             35704 non-null   float64
 18  LOGIN_COUNT_12M            35704 non-null   float64
dtypes: float64(10), int64(7), object(2)
memory usage: 17.2+ MB

In [7]:
df.duplicated().any()  # kiểm tra xem có xuất hiện dữ liệu trùng lặp không

False

In [8]:
df.isnull().sum() # Kiểm tra các giá trị null trong dữ liệu

MASTER_ACCOUNT                    0
CHANNEL                           0
AGE                             455
NAV_BQ_12M                        0
TODAY_NAV                         0
CASH_IN                      104745
CASH_OUT                      16648
TRADING_COUNT_1M                  0
TRADING_COUNT_2M                  0
TRADING_COUNT_3M                  0
TRADING_COUNT_6M                  0
GTGD_6M                           0
VQGD_6M                       16049
PROFIT_LOSS_6M                18394
PROFIT_LOSS_PERCENTAGE_6M     18605
ACTIVE_AGE                        0
LOGIN_COUNT_3M                83142
LOGIN_COUNT_6M                83142
LOGIN_COUNT_12M               83142
dtype: int64

---

**XỬ LÝ NULL**

- Từ đây ta xử lý các GT null như sau:
    + AGE: lấy mẹ trung vị: median, thay các giá trị âm bằng median
    + CASH_IN: thay = 0
    + CASH_OUT: thay = 0
    + VQGD_6M: chưa biết? Cho = 0 chăng? Hay là drop? ->> thay mẹ = 0
    + PROFIT_LOSS_6M: cũng chưa biết? má khó z ->>> thay mẹ = 0
    + PROFIT_LOSS_PERCENTAGE_6M: cũng chưa biết? nma tại sao lại khác số nhỉ? sao cái này lại null nhiều hơn ta? -->  Có hỏi c Hà mà quên rồi, mà thôi cứ thay = 0
    + LOGIN_COUNT_3M: Chắc chắn p thay = 0
    + LOGIN_COUNT_6M: Chắc chắn p thay = 0
    + LOGIN_COUNT_12M: Chắc chắn p thay = 0

In [ ]:
# thay các giá trị âm ở trường AGE bằng median
df.loc[df['AGE'] <= 0, 'AGE'] = df['AGE'].median()

preprocessing.fill_na_0(df, ['CASH_IN', 'CASH_OUT', 'LOGIN_COUNT_3M', 'LOGIN_COUNT_6M', 'LOGIN_COUNT_12M', 'VQGD_6M', 'PROFIT_LOSS_6M', 'PROFIT_LOSS_PERCENTAGE_6M'])

preprocessing.fill_na_median(df, ['AGE'])

C:\Users\BRAVO\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\numpy\lib\nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
d:\Quân\MBS\5th_Project_Churn_Segmentation_Larger_Clusters\inactive\common\ultis.py:28: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column] = df[column].fillna(0, inplace=True)
d:\Quân\MBS\5th_Project_Churn_Segmentation_Larger_Clusters\inactive\common\ultis.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].fillna(0, inplace=True)
d:\Quân\MBS\5th_Project_Churn_Segmentation_Larger_Clusters\inactive\common\ultis.py:33: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column] = df[column].fillna(df[column].median(), inplace=True)
d:\Quân\MBS\5th_Project_Churn_Segmentation_Larger_Clusters\inactive\common\ultis.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].fillna(df[column].median(), inplace=True)
d:\Quân\MBS\5th_Project_Churn_Segmentation_Larger_Clusters\inactive\common\ultis.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].fillna(df[column].median(), inplace=True)

,MASTER_ACCOUNT,CHANNEL,AGE,NAV_BQ_12M,TODAY_NAV,CASH_IN,CASH_OUT,TRADING_COUNT_1M,TRADING_COUNT_2M,TRADING_COUNT_3M,TRADING_COUNT_6M,GTGD_6M,VQGD_6M,PROFIT_LOSS_6M,PROFIT_LOSS_PERCENTAGE_6M,ACTIVE_AGE,LOGIN_COUNT_3M,LOGIN_COUNT_6M,LOGIN_COUNT_12M
0,206019,MBS,None,1.094968e+04,10956,None,None,3,9,10,22,8444209900,None,None,None,356,None,None,None
1,104921,MBS,None,2.300000e+02,230,None,None,1,2,3,6,43860000,None,None,None,498,None,None,None
2,122404,MBS,None,2.665236e+04,26665,None,None,1,1,4,6,54799000,None,None,None,665,None,None,None
3,382404,MBS,None,1.872000e+03,1872,None,None,1,2,2,2,32320000,None,None,None,673,None,None,None
4,469862,MBS,None,1.997123e+05,213051,None,None,2,2,6,13,423919000,None,None,None,815,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118841,ED1870,MBB,None,2.633552e+07,36439123,None,None,9,13,15,34,482608250,None,None,None,171,None,None,None
118842,107651,MBS,None,2.000000e+01,20,None,None,4,4,4,4,6665000,None,None,None,16,None,None,None
118843,113413,MBB,None,1.261403e+05,126206,None,None,4,9,10,10,605810000,None,None,None,62,None,None,None
118844,483309,MBS,None,7.594703e+05,694145,None,None,14,25,29,66,3730487000,None,None,None,333,None,None,None
118845,493000,MBS,None,8.462588e+07,66257332,None,None,3,5,12,30,723315000,None,None,None,293,None,None,None

In [9]:
preprocessing.fill_na_median(df, ['AGE'])

,MASTER_ACCOUNT,CHANNEL,AGE,NAV_BQ_12M,TODAY_NAV,CASH_IN,CASH_OUT,TRADING_COUNT_1M,TRADING_COUNT_2M,TRADING_COUNT_3M,TRADING_COUNT_6M,GTGD_6M,VQGD_6M,PROFIT_LOSS_6M,PROFIT_LOSS_PERCENTAGE_6M,ACTIVE_AGE,LOGIN_COUNT_3M,LOGIN_COUNT_6M,LOGIN_COUNT_12M
0,206019,MBS,42.0,1.094968e+04,10956,NaN,1.614250e+09,3,9,10,22,8444209900,0.722229,212985226.0,2.478086,356,NaN,NaN,NaN
1,104921,MBS,40.0,2.300000e+02,230,NaN,2.289840e+07,1,2,3,6,43860000,0.322204,-10268987.0,-40.374729,498,NaN,NaN,NaN
2,122404,MBS,40.0,2.665236e+04,26665,NaN,8.700000e+06,1,1,4,6,54799000,0.877380,-11407102.0,-20.094925,665,6.0,12.0,32.0
3,382404,MBS,41.0,1.872000e+03,1872,NaN,1.625000e+07,1,2,2,2,32320000,1.260376,277704.0,1.918465,673,NaN,NaN,NaN
4,469862,MBS,57.0,1.997123e+05,213051,NaN,5.197990e+07,2,2,6,13,423919000,1.413892,-6187068.0,-1.187263,815,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118841,ED1870,MBB,30.0,2.633552e+07,36439123,NaN,3.788600e+07,9,13,15,34,482608250,2.817169,8813753.0,8.932367,171,NaN,NaN,NaN
118842,107651,MBS,22.0,2.000000e+01,20,NaN,2.460783e+06,4,4,4,4,6665000,3.813402,120260.0,3.429785,16,0.0,0.0,5.0
118843,113413,MBB,31.0,1.261403e+05,126206,NaN,1.821511e+08,4,9,10,10,605810000,0.638257,17632225.0,4.289641,62,NaN,NaN,NaN
118844,483309,MBS,39.0,7.594703e+05,694145,NaN,4.160000e+07,14,25,29,66,3730487000,2.451393,-205486111.0,-5.046177,333,NaN,NaN,NaN
118845,493000,MBS,32.0,8.462588e+07,66257332,NaN,2.000000e+06,3,5,12,30,723315000,0.714750,25658208.0,14.607499,293,14.0,23.0,43.0

In [10]:
preprocessing.fill_na_0(df, ['CASH_IN', 'CASH_OUT', 'LOGIN_COUNT_3M', 'LOGIN_COUNT_6M', 'LOGIN_COUNT_12M', 'VQGD_6M', 'PROFIT_LOSS_6M', 'PROFIT_LOSS_PERCENTAGE_6M'])

,MASTER_ACCOUNT,CHANNEL,AGE,NAV_BQ_12M,TODAY_NAV,CASH_IN,CASH_OUT,TRADING_COUNT_1M,TRADING_COUNT_2M,TRADING_COUNT_3M,TRADING_COUNT_6M,GTGD_6M,VQGD_6M,PROFIT_LOSS_6M,PROFIT_LOSS_PERCENTAGE_6M,ACTIVE_AGE,LOGIN_COUNT_3M,LOGIN_COUNT_6M,LOGIN_COUNT_12M
0,206019,MBS,42.0,1.094968e+04,10956,0.0,1.614250e+09,3,9,10,22,8444209900,0.722229,212985226.0,2.478086,356,0.0,0.0,0.0
1,104921,MBS,40.0,2.300000e+02,230,0.0,2.289840e+07,1,2,3,6,43860000,0.322204,-10268987.0,-40.374729,498,0.0,0.0,0.0
2,122404,MBS,40.0,2.665236e+04,26665,0.0,8.700000e+06,1,1,4,6,54799000,0.877380,-11407102.0,-20.094925,665,6.0,12.0,32.0
3,382404,MBS,41.0,1.872000e+03,1872,0.0,1.625000e+07,1,2,2,2,32320000,1.260376,277704.0,1.918465,673,0.0,0.0,0.0
4,469862,MBS,57.0,1.997123e+05,213051,0.0,5.197990e+07,2,2,6,13,423919000,1.413892,-6187068.0,-1.187263,815,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118841,ED1870,MBB,30.0,2.633552e+07,36439123,0.0,3.788600e+07,9,13,15,34,482608250,2.817169,8813753.0,8.932367,171,0.0,0.0,0.0
118842,107651,MBS,22.0,2.000000e+01,20,0.0,2.460783e+06,4,4,4,4,6665000,3.813402,120260.0,3.429785,16,0.0,0.0,5.0
118843,113413,MBB,31.0,1.261403e+05,126206,0.0,1.821511e+08,4,9,10,10,605810000,0.638257,17632225.0,4.289641,62,0.0,0.0,0.0
118844,483309,MBS,39.0,7.594703e+05,694145,0.0,4.160000e+07,14,25,29,66,3730487000,2.451393,-205486111.0,-5.046177,333,0.0,0.0,0.0
118845,493000,MBS,32.0,8.462588e+07,66257332,0.0,2.000000e+06,3,5,12,30,723315000,0.714750,25658208.0,14.607499,293,14.0,23.0,43.0

In [11]:
# thay các giá trị âm ở trường AGE bằng median
df.loc[df['AGE'] <= 0, 'AGE'] = df['AGE'].median()

---

**XỬ LÝ OUTLIER**

In [12]:
# drop trường 'MASTER_ACCOUNT'
df = df.drop(['MASTER_ACCOUNT', 'CHANNEL'], axis=1)

preprocessing.remove_outlier(df, df.columns)

Column: AGE
Q1: 33.0, Q3: 49.0, IQR: 16.0, Upper: 73.0, Lower: 9.0
Column: NAV_BQ_12M
Q1: 2144.0, Q3: 733154.8415300547, IQR: 731010.8415300547, Upper: 1829671.1038251366, Lower: -1094372.262295082
Column: TODAY_NAV
Q1: 1866.0, Q3: 688128.5, IQR: 686262.5, Upper: 1717522.25, Lower: -1027527.75
Column: CASH_IN
Q1: 0.0, Q3: 0.0, IQR: 0.0, Upper: 0.0, Lower: 0.0
Column: CASH_OUT
Q1: 2500000.0, Q3: 72341397.0, IQR: 69841397.0, Upper: 177103492.5, Lower: -102262095.5
Column: TRADING_COUNT_1M
Q1: 1.0, Q3: 3.0, IQR: 2.0, Upper: 6.0, Lower: -2.0
Column: TRADING_COUNT_2M
Q1: 1.0, Q3: 5.0, IQR: 4.0, Upper: 11.0, Lower: -5.0
Column: TRADING_COUNT_3M
Q1: 1.0, Q3: 6.0, IQR: 5.0, Upper: 13.5, Lower: -6.5
Column: TRADING_COUNT_6M
Q1: 1.0, Q3: 10.0, IQR: 9.0, Upper: 23.5, Lower: -12.5
Column: GTGD_6M
Q1: 17095000.0, Q3: 327668000.0, IQR: 310573000.0, Upper: 793527500.0, Lower: -448764500.0
Column: VQGD_6M
Q1: 0.15773744663057004, Q3: 1.237795038812024, IQR: 1.080057592181454, Upper: 2.857881427084205, Lower: -1.4623489416416107
Column: PROFIT_LOSS_6M
Q1: -2533801.0, Q3: 7510063.5, IQR: 10043864.5, Upper: 22575860.25, Lower: -17599597.75
Column: PROFIT_LOSS_PERCENTAGE_6M
Q1: -4.869917983208417, Q3: 13.825449705901407, IQR: 18.695367689109823, Upper: 41.86850123956614, Lower: -32.91296951687315
Column: ACTIVE_AGE
Q1: 14.0, Q3: 624.0, IQR: 610.0, Upper: 1539.0, Lower: -901.0
Column: LOGIN_COUNT_3M
Q1: 0.0, Q3: 0.0, IQR: 0.0, Upper: 0.0, Lower: 0.0
Column: LOGIN_COUNT_6M
Q1: 0.0, Q3: 0.0, IQR: 0.0, Upper: 0.0, Lower: 0.0
Column: LOGIN_COUNT_12M
Q1: 0.0, Q3: 1.0, IQR: 1.0, Upper: 2.5, Lower: -1.5

,AGE,NAV_BQ_12M,TODAY_NAV,CASH_IN,CASH_OUT,TRADING_COUNT_1M,TRADING_COUNT_2M,TRADING_COUNT_3M,TRADING_COUNT_6M,GTGD_6M,VQGD_6M,PROFIT_LOSS_6M,PROFIT_LOSS_PERCENTAGE_6M,ACTIVE_AGE,LOGIN_COUNT_3M,LOGIN_COUNT_6M,LOGIN_COUNT_12M
0,42.0,1.094968e+04,10956.00,0.0,177103492.5,3.0,9.0,10.0,22.0,793527500.0,0.722229,22575860.25,2.478086,356.0,0.0,0.0,0.0
1,40.0,2.300000e+02,230.00,0.0,22898405.0,1.0,2.0,3.0,6.0,43860000.0,0.322204,-10268987.00,-32.912970,498.0,0.0,0.0,0.0
2,40.0,2.665236e+04,26665.00,0.0,8700000.0,1.0,1.0,4.0,6.0,54799000.0,0.877380,-11407102.00,-20.094925,665.0,0.0,0.0,2.5
3,41.0,1.872000e+03,1872.00,0.0,16250000.0,1.0,2.0,2.0,2.0,32320000.0,1.260376,277704.00,1.918465,673.0,0.0,0.0,0.0
4,57.0,1.997123e+05,213051.00,0.0,51979900.0,2.0,2.0,6.0,13.0,423919000.0,1.413892,-6187068.00,-1.187263,815.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118841,30.0,1.829671e+06,1717522.25,0.0,37886000.0,6.0,11.0,13.5,23.5,482608250.0,2.817169,8813753.00,8.932367,171.0,0.0,0.0,0.0
118842,22.0,2.000000e+01,20.00,0.0,2460783.0,4.0,4.0,4.0,4.0,6665000.0,2.857881,120260.00,3.429785,16.0,0.0,0.0,2.5
118843,31.0,1.261403e+05,126206.00,0.0,177103492.5,4.0,9.0,10.0,10.0,605810000.0,0.638257,17632225.00,4.289641,62.0,0.0,0.0,0.0
118844,39.0,7.594703e+05,694145.00,0.0,41600000.0,6.0,11.0,13.5,23.5,793527500.0,2.451393,-17599597.75,-5.046177,333.0,0.0,0.0,0.0
118845,32.0,1.829671e+06,1717522.25,0.0,2000000.0,3.0,5.0,12.0,23.5,723315000.0,0.714750,22575860.25,14.607499,293.0,0.0,0.0,2.5

In [14]:
# In ra dataset sau khi đã xử lý outlier và fill các giá trị null, gọi là fixed_data_active.csv
df.to_csv("data\\fixed_data_inactive.csv", index=False)